@import "tailwindcss";



.pokemon-cards {
  
  border-radius: 2%;
  width: 70%;
  margin: auto;
  transition: border 0.5s ease;
  border: 0.1% solid transparent;
  text-align: center;
}

.pokemon-img {
  width: 60%;
  height: 15vh;
  margin: auto;
}

.pokemon-cards:hover {
  border: 0.1% solid gold;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  padding: 2%;
}

.pokemon-types {
  display: flex;
  margin: auto;
  justify-content: space-around;
  font-size: 0.2vw;
  padding-left: 1vw;
}

span {
  margin: 1% 0 0;
  font-size: 1.2rem;
  text-align: center;
}

.info {
  margin: 1% 0 0;
  font-size: 1.2rem;
  color: #333;
}

.info-name {
  font-size: 2vw;
  padding-left: 3vw;
}

.Next{
  background-color: gold;
  padding: 1ch;
  width: 7%;
  border-radius: 10px;
  border: #001d3d 2px solid;
}
